<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="name" class="resource-label">{{localize 'SHEET.Attributes.name'}}</label>
          <h3 class="resource flex-group-center"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'SHEET.Attributes.name'}}" />
          </h3>
        </div>
        <div class="resource flex-group-center">
          <label for="system.player" class="resource-label">{{localize 'SHEET.Attributes.player'}}</label>
          <h3 class="resource flex-group-center"><input name="system.player" type="text" value="{{system.player}}"
              placeholder="{{localize 'SHEET.Attributes.player'}}" /></h3>
        </div>
        <div class="resource flex-group-center">
          <label for="system.xp" class="resource-label">{{localize 'SHEET.Attributes.xp'}}</label>
          <h3 class="resource flex-group-center"><input name="system.xp" type="text" value="{{system.xp}}" placeholder="0" />
          </h3>
        </div>
      </div>
      <div class="header-cards">
        <div class="header-profile">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
          <label for="system.health.value" class="resource-label">{{localize 'SHEET.Attributes.health'}}</label>
          <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
        </div>
        <div class="resources grid grid-6col">
          {{#each system.cards as |card key|}}
            <div class="resource card flex-group-center">
              <img class="card-img manage-sheet-card" src="systems/dod/assets/cards/{{key}}.png" alt="{{key}} card"
                data-card-type="{{key}}">
              <label for="system.cards.{{key}}.value" class="resource-label">{{localize (lookup @root.config.cards key)}}</label>
              <div class="card-input-container">
                <input class="card-input" name="system.cards.{{key}}.value" type="number" value="{{card.value}}" />
                {{#if (ne card.modifier 0)}}
                  <span class="modifier">{{#if (gt card.modifier 0)}}+{{/if}}{{card.modifier}}</span>
                {{/if}}
              </div>
            </div>
          {{/each}}
          <div class="resource card-buttons flex-group-center">
            <button class="card-button draw-cards-from-pile">{{localize 'SHEET.Actions.draw'}}</button>
            <button class="card-button add-sheet-cards-to-pile">{{localize 'SHEET.Actions.addToDeck'}}</button>
            <button class="card-button reset-sheet-cards">{{localize 'SHEET.Actions.reset'}}</button>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="core">{{localize 'SHEET.Sections.core'}}</a>
    <a class="item" data-tab="talents">{{localize 'SHEET.Sections.talents'}}</a>
    <a class="item" data-tab="items">{{localize 'SHEET.Sections.inventory'}}</a>
    <a class="item" data-tab="description">{{localize 'SHEET.Sections.background'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Abilities Tab --}}
    <div class="tab core" data-group="primary" data-tab="core">
      <section class="grid grid-12col">
        <aside class="sidebar grid-span-3">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="characteristics flexcol">
            <h3>{{localize 'SHEET.Sections.characteristics'}}</h3>
            {{#each system.characteristics as |characteristic key|}}
            <div class="characteristic flexrow flex-group-center">
              <label for="system.characteristics.{{key}}.value" class="resource-label addable flexlarge align-left" data-label="{{key}}" data-type="characteristic">{{localize (lookup @root.config.characteristics key)}}</label>
              <input type="text" name="system.characteristics.{{key}}.value" value="{{characteristic.value}}" data-dtype="Number"/>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main abilities list, span the right two columns --}}
        <section class="abilities grid-span-4">
          <h3>{{localize 'SHEET.Sections.skills'}}</h3>
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/dod/src/templates/actor/parts/actor-abilities.hbs"}}
        </section>
        <section class="conditions grid-span-3">
          <h3>{{localize 'SHEET.Sections.conditions'}}</h3>
          {{> "systems/dod/src/templates/actor/parts/actor-conditions.hbs"}}
        </section>
        <section class="traumas grid-span-2">
          <h3>{{localize 'SHEET.Sections.traumas'}}</h3>
          {{> "systems/dod/src/templates/actor/parts/actor-traumas.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Owned Talents Tab --}}
    <div class="tab items" data-group="primary" data-tab="talents">
      {{> "systems/dod/src/templates/actor/parts/actor-talents.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/dod/src/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Background Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

  </section>
</form>
