<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
    <div class="header-fields info-background">
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="name" class="resource-label">{{localize 'DECK_OF_DESTINY.attributes.name'}}</label>
          <h3 class="resource flex-group-center"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DECK_OF_DESTINY.attributes.name'}}" />
          </h3>
        </div>
        <div class="resource flex-group-center">
          <label for="system.player" class="resource-label">{{localize 'DECK_OF_DESTINY.attributes.player'}}</label>
          <h3 class="resource flex-group-center"><input name="system.player" type="text" value="{{system.player}}"
              placeholder="{{localize 'DECK_OF_DESTINY.attributes.player'}}" /></h3>
        </div>
        <div class="resource flex-group-center">
          <label for="system.xp" class="resource-label">{{localize 'DECK_OF_DESTINY.attributes.xp.label'}}</label>
          <div class="flex-group-center xp-inputs">
            <div class="xp-input">
              <input name="system.xp.total" type="number" value="{{system.xp.total}}" placeholder="0" data-dtype="Number" min="0" {{#unless isGM}}disabled{{/unless}} />
            </div>
            <div class="xp-input">
              <input name="system.xp.spent" type="number" value="{{system.xp.spent}}" placeholder="0" data-dtype="Number" min="0" />
            </div>
            <div class="xp-input">
              <input name="system.xp.remaining" type="number" value="{{system.xp.remaining}}" placeholder="0" disabled data-dtype="Number" min="0" />
            </div>
          </div>
        </div>
        <div class="resource flex-group-center xp-labels">
          &nbsp;
        </div>
        <div class="resource flex-group-center xp-labels">
          &nbsp;
        </div>
        <div class="resource flex-group-center xp-labels">
          <div class="xp-label">
              <label for="system.xp.total">{{localize 'DECK_OF_DESTINY.attributes.xp.total'}}</label>
            </div>
            <div class="xp-label">
              <label for="system.xp.spent">{{localize 'DECK_OF_DESTINY.attributes.xp.spent'}}</label>
            </div>
            <div class="xp-label">
              <label for="system.xp.remaining">{{localize 'DECK_OF_DESTINY.attributes.xp.remaining'}}</label>
            </div>
        </div>
      </div>
      <button type="button" class="toggle-header-cards rollable light-bordered-section" aria-expanded="true" data-label-show="{{localize 'DECK_OF_DESTINY.labels.showCards'}}" data-label-hide="{{localize 'DECK_OF_DESTINY.labels.hideCards'}}">
          {{localize 'DECK_OF_DESTINY.labels.hideCards'}}
      </button>
      <div class="header-cards">
        {{> "systems/dod/src/templates/actor/parts/actor-header-cards.hbs"}}
      </div>
      <hr>
      
      <a class="item-create plus-attribute flex-group-center light-bordered-section" title="{{localize 'DECK_OF_DESTINY.labels.add' type=(localize 'DECK_OF_DESTINY.types.item.attribute' )}}" data-type="attribute">
        <i class="fas fa-plus"></i>
        {{localize 'DECK_OF_DESTINY.types.item.attribute'}}
      </a>
      <div class="resources grid grid-5col">       
        <div class="resource attribute-group">
          <label for="system.attributes.fortune" class="resource-label mb-half">{{localize 'DECK_OF_DESTINY.attributes.fortune'}}</label>
          <button class="attribute-button attribute-click" data-dtype="Number" data-attribute-type="fortune">{{system.attributes.fortune.value}}</button>
          <span class="mt-half">&nbsp;</span>
        </div>
        <div class="resource attribute-group">
          <label for="system.attributes.absorption" class="resource-label mb-half">{{localize 'DECK_OF_DESTINY.attributes.absorption.label'}}</label>
          <button class="attribute-button attribute-click" data-dtype="Number"data-attribute-type="absorption">{{system.attributes.absorption.value}}</button>
          <span class="mt-half">{{localize (lookup @root.config.absorption system.attributes.absorption.value)}}</span>
        </div>
        <div class="resource attribute-group">
          <label for="system.attributes.mitigation" class="resource-label mb-half">{{localize 'DECK_OF_DESTINY.attributes.mitigation.label'}}</label>
          <button class="attribute-button attribute-click" data-dtype="Number" data-attribute-type="mitigation">{{system.attributes.mitigation.value}}</button>
          <span class="mt-half">{{localize (lookup @root.config.mitigation system.attributes.mitigation.value)}}</span>
        </div>

        {{!-- Additional Attributes --}}
        {{#each attributes as |item id|}}
          <div class="resource item attribute-group" data-item-id='{{item._id}}'>
            <div class="item-controls-spaced flexrow mb-half">
              <label for="item.name" class="resource-label align-left" data-label="{{item.name}}" data-type="attribute">{{item.name}}</label>
              <a class="item-control item-edit"
                title="{{localize 'DECK_OF_DESTINY.labels.edit' type=(localize 'DECK_OF_DESTINY.types.item.attribute')}}">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control item-delete"
                title="{{localize 'DECK_OF_DESTINY.labels.remove' type=(localize 'DECK_OF_DESTINY.types.item.attribute')}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
            <button class="attribute-button item-click" data-dtype="Number">{{item.system.value}}</button>
            <span class="mt-half">&nbsp;</span>
          </div>
        {{/each}}
      </div>
    </div>
  </header>

    <section class="info-background">

      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-tabs tabs light-bordered-section" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="core">{{localize 'DECK_OF_DESTINY.sheet.sections.core'}}</a>
        <a class="item" data-tab="talents">{{localize 'DECK_OF_DESTINY.sheet.sections.talents'}}</a>
        <a class="item" data-tab="powers">{{localize 'DECK_OF_DESTINY.sheet.sections.powers'}}</a>
        <a class="item" data-tab="items">{{localize 'DECK_OF_DESTINY.sheet.sections.inventory'}}</a>
        <a class="item" data-tab="description">{{localize 'DECK_OF_DESTINY.sheet.sections.background'}}</a>
      </nav>

      {{!-- Sheet Body --}}
      <section class="sheet-body">

        {{!-- Core Tab --}}
        <div class="tab core" data-group="primary" data-tab="core">
          <section class="grid grid-12col">
            <aside class="sidebar grid-span-3">
              <h3>{{localize 'DECK_OF_DESTINY.sheet.sections.characteristics'}}</h3>
              {{> "systems/dod/src/templates/actor/parts/actor-characteristics.hbs"}}
            </aside>
            <section class="abilities grid-span-4">
              <h3>{{localize 'DECK_OF_DESTINY.sheet.sections.skills'}}</h3>
              {{> "systems/dod/src/templates/actor/parts/actor-abilities.hbs"}}
            </section>
            <section class="conditions grid-span-3">
              <h3>{{localize 'DECK_OF_DESTINY.sheet.sections.conditions'}}</h3>
              {{> "systems/dod/src/templates/actor/parts/actor-conditions.hbs"}}
            </section>
            <section class="traumas grid-span-2">
              <h3>{{localize 'DECK_OF_DESTINY.sheet.sections.traumas'}}</h3>
              {{> "systems/dod/src/templates/actor/parts/actor-traumas.hbs"}}
            </section>

          </section>
        </div>

        {{!-- Owned Talents Tab --}}
        <div class="tab items" data-group="primary" data-tab="talents">
          {{> "systems/dod/src/templates/actor/parts/actor-talents.hbs"}}
        </div>

          {{!-- Powers Tab --}}
          <div class="tab items" data-group="primary" data-tab="powers">
            {{> "systems/dod/src/templates/actor/parts/actor-powers.hbs"}}
          </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
          {{> "systems/dod/src/templates/actor/parts/actor-items.hbs"}}
        </div>

        {{!-- Background Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
          {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
          {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
        </div>

      </section>

    </section>
</form>
