<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-fixed-name'>{{localize 'DECK_OF_DESTINY.labels.name'}}</div>
    <div class='item-description'>{{localize 'DECK_OF_DESTINY.labels.description'}}</div>
    <div class='item-quantity'>{{localize 'DECK_OF_DESTINY.labels.quantity'}}</div>
    <div class='item-controls'>
      <a
        class='item-control item-create'
        title='{{localize 'DECK_OF_DESTINY.labels.add' type=(localize 'DECK_OF_DESTINY.types.item.item')}}'
        data-type='item'
      >
        <i class='fas fa-plus'></i>
        {{localize 'DECK_OF_DESTINY.types.item.item'}}
      </a>
    </div>
  </li>
  {{#each gear as |item id|}}
    {{> systems/dod/src/templates/actor/parts/actor-item-row.hbs item=item }}
  {{/each}}
</ol>
