<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-fixed-name'>{{localize 'DECK_OF_DESTINY.labels.name'}}</div>
    <div class='item-description'>{{localize 'DECK_OF_DESTINY.labels.description'}}</div>
    <div class='item-quantity'>{{localize 'DECK_OF_DESTINY.labels.quantity'}}</div>
    <div class='item-controls'>
      <a
        class='item-control item-create'
        title='{{localize 'DECK_OF_DESTINY.labels.add' type=(localize 'DECK_OF_DESTINY.types.item.item')}}'
        data-type='item'
      >
        <i class='fas fa-plus'></i>
        {{localize 'DECK_OF_DESTINY.types.item.item'}}
      </a>
    </div>
  </li>
  {{#each gear as |item id|}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class="item-tooltip">{{{item.system.description}}}</div>
      <div class='item-fixed-name'>
        <div class='item-image'>
          <img
            src='{{item.img}}'
            title='{{item.name}}'
            width='24'
            height='24'
          />
        </div>
        <label for="item.name" class="flexlarge align-left" data-label="{{item.name}}"
          data-type="item">{{item.name}}</label>
      </div>
      <div class='item-description'>{{simplify item.system.description 100}}</div>
      <div class='item-quantity'>{{item.system.quantity}}</div>
      <div class='item-controls'>
        <a
          class='item-control item-edit'
          title='{{localize 'DECK_OF_DESTINY.labels.edit' type=(localize 'DECK_OF_DESTINY.types.item.item')}}'
        >
          <i class='fas fa-edit'></i>
        </a>
        <a
          class='item-control item-delete'
          title='{{localize 'DECK_OF_DESTINY.labels.remove' type=(localize 'DECK_OF_DESTINY.types.item.item')}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </li>
  {{/each}}
</ol>
