{{#each system.characteristics as |characteristic key|}}
<div class="characteristic flexrow flex-group-center">
    <label for="system.characteristics.{{key}}.value" class="resource-label addable flexlarge align-left"
        data-label="{{key}}" data-type="characteristic">{{localize (lookup @root.config.characteristics key)}}</label>
    <input type="number" name="system.characteristics.{{key}}.value" value="{{characteristic.value}}"
        data-dtype="Number" min="0" />
</div>
{{/each}}
